.contact__button--colorGray{
  color: $granite-gray;
  font-size: $medium;
  font-weight: $bold;
  background-color: $snow;
  border-radius: 25px;
  border: 1px solid $granite-gray;
  padding: 1rem 4rem;
  margin-top: 2rem;
}
