.contact{
  width: 100%;
  background: $jelly-bean;
  height: auto;
  text-align: center;
  overflow: hidden;
  padding: 5rem;
  margin-top: 3rem;
}

.contact__container{
  width: 100%;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
}

.contact__container h4{
  color: $white;
}
